<swiper
  @fade
  [config]="swiperOptions"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange($event)"
>
  <ng-template swiperSlide let-data>
    <welcome [isActive]="data.isActive"></welcome>
  </ng-template>
  <ng-template swiperSlide let-data>
    <champions [isActive]="data.isActive"></champions>
  </ng-template>
  <ng-template swiperSlide let-data>
    <trailer [isActive]="data.isActive"></trailer>
  </ng-template>
  <ng-template swiperSlide let-data>
    <credit [isActive]="data.isActive"></credit>
  </ng-template>

</swiper>

